.col-xs-10.col-xs-offset-1
  h1.col-md-offset-2 New product
  form(data-ng-submit='confirm()')
    .form-body
      .form-group.row
        .col-md-3
          label.control-label
            | Name:
        .col-md-5
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='text', placeholder='Name', name='name', data-ng-model='product.name')
      .form-group.row
        .col-md-3
          label.control-label
            | Price:
        .col-md-5
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='text', placeholder='Price', name='price', data-ng-model='product.price')
      .form-group.row
        .col-md-3
          label.control-label
            | Quantity:
        .col-md-5
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='text', placeholder='Quantity', name='quantity', data-ng-model='product.quantity')
      .form-actions.row
        .col-md-5
          button.btn(type='button', ui-sref="product") Back
          button.btn.btn-success(type='submit') Add
