.col-xs-10.col-xs-offset-1
  h1.col-md-offset-2 New user
  form(data-ng-submit='confirm()')
    .form-body
      .form-group.row
        .col-md-3
          label.control-label
            | Name:
        .col-md-5
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='text', placeholder='Name', name='name', data-ng-model='user.name')
      .form-group.row
        .col-md-3
          label.control-label
            | E-mail:
        .col-md-5
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='email', placeholder='E-mail', name='email', data-ng-model='user.email')
      .form-group.row
        .col-md-3
          label.control-label
            | Address:
        .col-md-5
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='text', placeholder='Address', name='address', data-ng-model='user.address')
      .form-group.row
        .col-md-3
          label.control-label
            | Age:
        .col-md-5
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='text', placeholder='Age', name='age', data-ng-model='user.age')
      .form-group.row
        .col-md-3
          label.control-label
            | Job:
        .col-md-5
          .input-icon
            i.fa.fa-font
            input.form-control.placeholder-no-fix(type='text', placeholder='Job', name='job', data-ng-model='user.job')
      .form-actions.row
        .col-md-5
          button.btn(type='button', ui-sref="user") Back
          button.btn.btn-success(type='submit') Add
