.col-xs-10.col-xs-offset-1
  h1 Products:
  button.btn(ui-sref='newProduct') Add new
  table.table.table-stripe
    tr
      th(data-ng-repeat='key in cols')
        | {{key}}
      th actions
    tr(data-ng-repeat='product in products')
      td(data-ng-repeat='key in cols')
        | {{product[key]}}
      td
        button.btn.btn-info(data-ng-click="updateProduct(product)") Update
        button.btn.btn-danger(data-ng-click="removeProduct(product)") Delete
