.col-xs-10.col-xs-offset-1
  h1 Users:
  button.btn(ui-sref='newUser') Add new
  table.table.table-stripe
    tr
      th(data-ng-repeat='key in cols')
        | {{key}}
      th actions
    tr(data-ng-repeat='user in users')
      td(data-ng-repeat='key in cols')
        | {{user[key]}}
      td
        button.btn.btn-info(data-ng-click="updateUser(user)") Update
        button.btn.btn-danger(data-ng-click="removeUser(user)") Delete
