doctype html
html(lang='en', data-ng-app='node')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title NodeJs learning 7. task, Express
    // Bootstrap
    link(href='lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  body
    block content
      
    block footer
