<h1>New user</h1>

<form data-ng-submit="addNewUser()">
    <div class="form-body">
        <div class="form-group row">
            <div class="col-md-3 col-md-offset-2 voffset1">
                <label class="control-label">
                    Name:
                </label>
            </div>
            <div class="col-md-5">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix"
                        type="text"
                        placeholder="Name"
                        name="name"
                        data-ng-model="user.name">
                    </input>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-md-offset-2 voffset1">
                <label class="control-label">
                    Address:
                </label>
            </div>
            <div class="col-md-5">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix"
                        type="text"
                        placeholder="Address"
                        name="address"
                        data-ng-model="user.address">
                    </input>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-md-offset-2 voffset1">
                <label class="control-label">
                    Age:
                </label>
            </div>
            <div class="col-md-5">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix"
                        type="text"
                        placeholder="Age"
                        name="age"
                        data-ng-model="user.age">
                    </input>
                </div>
            </div>
        </div>
        <div class="form-actions row">
            <div class="col-md-5 col-md-offset-2">
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </div>
</form>
