extends layout

block content
  .container
    
    div(ui-view='')

block footer
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='lib/bootstrap/dist/js/bootstrap.min.js')
  script(src='lib/angular/angular.min.js')
  script(src='lib/angular-route/angular-route.min.js')
  script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
  script(src='javascripts/app.js')
  script(src='javascripts/newUserController.js')
  script(src='javascripts/userController.js')
  script(src='javascripts/newProductController.js')
  script(src='javascripts/productController.js')
  //- script(src='javascripts/loginController.js')
