doctype html
html(lang='en', data-ng-app='node')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title NodeJs learning 8. task, Mongodb
    // Bootstrap
    link(href='lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,600', rel='stylesheet', type='text/css')
  body
    .row
      .hor-menu.col-md-9
        ul.nav.navbar-nav
          li
            a(ui-sref='.main', ui-sref-active='active') Main
          li.menu-dropdown.classic-menu-dropdown
            a(data-toggle='dropdown')
              | Users
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
              li.dropdown-submenu
                a(ui-sref='user', ui-sref-active='active') List users
              li.dropdown-submenu
                a(ui-sref='newUser', ui-sref-active='active') New user
          li.menu-dropdown.classic-menu-dropdown
            a(data-toggle='dropdown')
              | Products 
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
              li.dropdown-submenu
                a(ui-sref='product', ui-sref-active='active') List products
              li.dropdown-submenu
                a(ui-sref='newProduct', ui-sref-active='active') New product

    block content
      
    block footer
