extends layout

block content
  .container
    .col-xs-5.col-xs-offset-1.col-md-3.col-md-offset-3.col-lg-2.col-lg-offset-2
    form.form(action='/login/check', method='post')
      .panel.panel-primary
        .panel-heading
          h3 Login
        .panel-body
          .form-group
            label email
            input.form-control(name='email')
        .panel-footer
          div
            button.btn.btn-primary(type='submit') Login
