h1 New user
form(data-ng-submit='addNewUser()')
  .form-body
    .form-group.row
      .col-md-3.col-md-offset-2.voffset1
        label.control-label
          | Name:
      .col-md-5
        .input-icon
          i.fa.fa-font
          input.form-control.placeholder-no-fix(type='text', placeholder='Name', name='name', data-ng-model='user.name')
    .form-group.row
      .col-md-3.col-md-offset-2.voffset1
        label.control-label
          | Address:
      .col-md-5
        .input-icon
          i.fa.fa-font
          input.form-control.placeholder-no-fix(type='text', placeholder='Address', name='address', data-ng-model='user.address')
    .form-group.row
      .col-md-3.col-md-offset-2.voffset1
        label.control-label
          | Age:
      .col-md-5
        .input-icon
          i.fa.fa-font
          input.form-control.placeholder-no-fix(type='text', placeholder='Age', name='age', data-ng-model='user.age')
    .form-actions.row
      .col-md-5.col-md-offset-2
        button.btn.btn-success(type='submit') Add
